/* Existing styles */

body {
    font-family: 'Inter', Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .bottom-half {
    display: none; /* Remove the bottom-half */
  }
  
  header {
    background-color: #14162E;
    display: flex;
    align-items: center;
  }
  
  .container {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Stack elements vertically */
  }
  
  .logo img {
    height: 50px;
    margin-right: 20px;
  }
  
  .title {
    flex: 1;
    margin-right: 20px;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
  }
  
  .title h1 {
    margin: 0;
    color: white;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li:last-child {
    margin-right: 0;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
  }
  
  .social-dropdown {
    position: relative;
    margin-left: auto;
  }
  
  .social-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 50%;
    cursor: pointer;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-button img {
    width: 60%;
    height: auto;
  }
  
  .store-button {
    margin-left: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: transparent;
    color: #14162E;
    border: 2px solid #14162E;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .store-button:hover {
    background-color: #14162E;
    color: white;
  }
  
  .store-button .store-button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .social-menu {
    display: none;
    position: absolute;
    top: calc(100% + 10px);
    left: 50%;
    transform: translateX(-50%);
    background-color: #14162E;
    min-width: auto;
    z-index: 1;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .social-menu.show {
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 1;
  }
  
  .social-menu a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    margin: 0 5px;
  }
  
  .social-menu a img {
  }

.social-menu a:hover {
    background-color: transparent;
}

/* Footer styles */
footer {
    background-color: #04050c;
    padding: 30px;
    color: #ccc;
    left: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 1000; /* Ensure footer is above other content */
}

.footer-section {
    flex: 1 1 auto;
    text-align: center;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.footer-section.follow-us img {
    width: 40px !important;
    height: 40px !important;
    object-fit: cover !important;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0;
    text-align: left;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-family: 'Lato', Arial, sans-serif;
    font-weight: bold;
}

.footer-section ul li img {
    margin-right: 5px;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-disclaimer {
    flex-basis: 100%;
    text-align: center;
    color: #ccc;
    margin-top: 20px;
}

.follow-us-section ul li img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.product-images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center items horizontally */
    margin-top: 0; /* Remove top margin */
}

.product-item {
    width: 30%; /* Set the width of each product item */
    margin: 20px;
    padding: 10px;
        position: relative;
}

.product-image {
    width: 100%; /* Ensure the image fills its container */
    display: block;
    border-radius: 5px; /* Add some border radius for styling */
}

.description {
    position: absolute;
    top: 0;
    right: -150px; /* Adjust as needed */
    width: 140px; /* Set the width of the description */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: none;
}

.product-item:hover .description {
    display: block; /* Show description on hover */
}
