@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    border: 1px 
}
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: center;
}
.nav_link {
    padding: 20px;
    background-color: Black;
    color: white;
    font-size: 25px;
    text-decoration: none;
    text-align: center;
}
img {
    width: 400px;
    border: 3px solid black;
}
a  {
    color:black
}
nav a:hover {
    color:black;
    
}
#main_title{
    font-size: 3em;
    color:black;
    text-align: center;
    font-family:"Lato";
}
#img_cont {
    text-align: center;
}
footer p, h3 {
    text-align: center;
}
main p{
    font-family:"Montserrat";
    text-align: center;
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 20px 75px;
    background-color: #415a77;
    border: 3px solid black;
    color: white;
    border-radius: 15px;
    box-sizing: border-box;
}
#sub_title{
    font-size: 1.5em;
    color:black;
    font-family:"Montserrat";
    text-decoration: none;
}
footer {
    font-size: 90%;
    color: white;
    background-color: gray;
    padding: 3px 75px;
    font-family:"Montserrat";

}